body {
    display: grid;
    grid-template-columns: 100px auto; 
    grid-template-rows: 80px auto; 
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: var(--secondary--color);
    color: var(--text-color);
    font-family: sans-serif;
}
body::before {
    content: "";
    position: absolute;
     top: 10%;
    background-image: url(../assets/images/background.png);
    opacity: 0.2;
    z-index: 0; 
    width: 100%;
    height: 80vh; 
}

main {
    margin-top: 50px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    z-index: 100;
    width: 80%;
    background-color: var(--primary-color);
    margin: auto;
    margin-top: 60px;
    border-radius: 20px;
    position: relative;
}
#titel{
  font-family: Bangers;
  letter-spacing: 2px;
}

#winPopup{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  height: 40vh;
  width: 20vw;
}

 #titel::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--secondary--color);
    margin-top: 5px;
}
.chest{
    position: absolute;
    height: auto;
    width: 300px;
    right: 96%;
    bottom: -20%;

}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#test {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 3vw; 
  flex-wrap: wrap; 
  width: 100%; 
  padding: 0;
}

#test li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 20%; 
  max-width: 200px;
  min-width: 50px; 
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}


#green img, #purple img, #gold img {
  height: auto;
  width: min(15vw, 120px); 
  max-width: 100px;
  min-width: 60px; 
  transition: width 0.3s ease-in-out;
}
#green, #purple, #gold{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    padding: 20px;
    border-radius: 15px;
}

#green{
    background: green;
}
#purple{
    background-color: blueviolet;
}
#gold{
    background-color: gold;
}



.popup {
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    background: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    display: none;
    text-align: center;
    z-index: 1000; 
}
#overlayChest {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    display: none;
    z-index: 999;
}

#winImage {
    width: 150px;
    height: 150px;
    border: 5px solid black; 
    transition: border 0.3s ease-in-out; 
    border-radius: 20px;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh; 
}
  
  .spinner, .spinner__won {
    position: relative;
    overflow-x: hidden;
    background-color: white;
    box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
  }
  
  .spinner {
    width: 90%; 
    max-width: 600px; 
    min-width: 280px; 
    border: 2vw solid var(--tertiary-color);
    border-radius: 5px;
    overflow: hidden;
}

.spinner-items__item img {
  width: 7vw; 
  max-width: 80px; 
  height: auto;
}
  
  .spinner__won {
    max-width: 590px;
    min-width: 590px;
    padding: 3px 10px;
    font-size: 24px;
    letter-spacing: 12px;
  }
  
  .spinner-items {
    position: relative;
    display: inline-flex;
    margin: 0;
    padding: 0;
    margin-left: -200px;
    justify-content: center;
    align-items: center;
  }
  
  .spinner__marker {
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: yellow;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
  }
  
  .spinner-items__item {
    list-style-type: none;
    padding: 2vh 0;
    font-size: 4vw; 
    border-left: 0.5vw solid black;
    width: 18vw;
    max-width: 100px;
    min-width: 70px;
    text-align: center;
}
  

  
  .button:hover {
    box-shadow: 0px 2.5px 3.5px -1px rgba(0, 0, 0, 0.2);
  }
  
  .win {
    background-color: lemonchiffon;
  }

  .green{
    background-color: green !important;
  }
  .purple{
    background-color: blueviolet;
  }
  .gold{
    background-color: gold;
  }
 button{
    margin-top:20px ;
 }


 @media (max-width: 600px) {
  body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  main {
      width: 95%; 
      height: 80vh;
      margin: 10px auto; 
      border-radius: 10px; 
  }
  .inventory-container{
    height: 150px !important;
    width: 50% !important;
    margin-top: 40px;
  }
  .inventory-item img {
    width: 80px !important;;
    height: auto;
  }
  .inventory-item{
    height: 10vh;
    padding: 10px !important;
  }
  .details{
    margin: 0 !important;
  }


}

#popup {
  display: none; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 1000;
}

#popup.active {
  display: block; 
}

#overlayChest.active {
  display: block; 
}

.close-btn {
  cursor: pointer;
  font-size: 18px;
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-btn {
  cursor: pointer;
  font-size: 18px;
  background: none;
  border: none;
  position: absolute;
  top: -10px;
  right: 5px;
  color: red;
}
#winName{
  font-family: Oswald;
}

.inventory-container {
  width: 70%;
  height: 40vh;
  overflow-y: auto;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  position: relative;
  border: solid 3px var(--tertiarty-color);
  scroll-snap-type: y mandatory; 
  margin-top: 15px;
}
#chest-products {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 15px;
  padding: 0;
  list-style: none; 
  align-items: center;
  margin: 0;
}

#chest-products li {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  text-align: center;
}


.inventory-item {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
  width: 120px;
  min-height: 200px; 
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  scroll-snap-align: start; 
  padding: 30px;
}

.details{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin-top: auto;
}
.rarity {
  display: inline-block;
  font-size: 12px;
  padding: 2px 05px;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  text-transform: uppercase;
  transform: skew(-20deg); 
  border-radius: 0;
}

.rarity-amount{
  display: flex;
  align-items: center; 
  gap: 10px; /
}


.episch {
  background-color: rgb(77, 14, 77); 
  color: #FF00FF; 
  border: 2px solid #FF00FF;
}

.gewoon {
  background-color: darkgreen;
  color: #00FF7F; 
  border: 2px solid #00FF7F;
}

.legendary {
  background-color: darkgoldenrod; 
  color: gold; 
  border: 2px solid gold;
}
.key {
  background-color: rgb(6, 6, 153); 
  color: rgb(63, 127, 223); 
  border: 2px solid rgb(63, 127, 223);
}
.inventory-item img {
  width: 100%;
  max-width: 120px;
  height: auto;
}
.close{
  position: absolute;
  right: 5%;
  top: 5%;
  text-decoration: none;

}


