body {
    display: grid;
    grid-template-columns: 100px auto; 
    grid-template-rows: 80px auto; 
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: var(--secondary--color);
}
body::before {
    content: "";
    position: absolute;
     top: 10%;
    background-image: url(../assets/images/background.png);
    opacity: 0.2;
    z-index: 0; 
    width: 100%;
    height: 80vh; 
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    letter-spacing: 2px;
    z-index: 2;
}

.resultaat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
    border-radius: 15px;
    padding: 20px;
    width: min(100%, 900px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    height: 90vh;    
}

h2 {
    position: relative;
    padding-bottom: 5px; 
    color: white;
}
h2::after {
    content: "";
    display: block;
    width: 100%; 
    height: 4px;
    background-color: var(--secondary--color); 
    margin-top: 5px; 
}





.figure-list {
    display: flex;
    gap: 100px;
    background-color: #363737;;
     
    border-radius: 25px; 
    border: 5px solid var(--tertiarty-color); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-top: -60px; 
    position: relative;
}

.figure {
    text-align: center;
}

.figure img {
    width: auto;
    height: 170px;
}

.figure p {
    font-size: 15px;
    color: white;
    margin-bottom: auto;
}




.lego-set {
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-direction: column;
    position: relative;
    height: 100vh; 
    text-align: center;
    margin-bottom: 150px; 
    background-color: var(--primary-color);;

}

.lego-set img {
    width: 200px; 
    height: auto; 
    border: 5px solid var(--tertiarty-color); 
    border-radius: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.lego-set h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.carousel-button {
    position: fixed;
    top: 80%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
  }

  .close{
    display: flex;
    position: absolute;
    right: -160%;
    top: -2%; 
}
a{
    text-decoration: none;
}

  .carousel-button.prev { left: 510px; }
.carousel-button.next { right: 410px; }

.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    display: none;  
    border-radius: 10px;
}

.info-icon {
    cursor: pointer;
    position: relative;
}

.info-icon:hover .popup-overlay {
    display: block;
}

.popup-content {
    text-align: center;
    font-size: 14px; 

}



@media (max-width: 600px) {

    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: 635px;
        overflow: hidden;
        position: relative;
    }

    header{
        grid-column: 1 / -1;

    }

    nav{
        display: none;
    }

    main {
        height: auto;
        padding: 40px;
    }

    .resultaat-container {
        height: auto; 
        min-height: 100px; 
    }

    
    .figure-list {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        left: 18%;
        width: 60%;
        top: -50px;
    }

    .lego-set h2{
        font-size: 26px;
        bottom: 25px;
    }
    

    .figure img {
        width: 35%; 
        height: auto; 
        max-width: 250px; 
    }
    .figure{
        display: none; 

    }

    .figure.active {
        display: block; 
    }
    
    .carousel-button {
        position: fixed;
        top: 65%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 18px;

    }

    .carousel-button.prev {
        left: 70px; 
    }

    .carousel-button.next {
        right: 70px; 
    }

    

    .lego-set {
        height: auto; 
        margin-bottom: 150px; 
    }

    .lego-set img {
        width: 150px;
        height: auto;
    }

    .close{
        display: flex;
        position: absolute;
        right: -35%;
        top: -2%; 
    }






    .info-icon.active {
        color: #ccc; 
    }

    .popup-overlay {
        top: 20%; 
        left: -150%; 
        transform: translate(-50%, -50%); 
    }
    
}
