* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: 100px auto;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: var(--secondary--color);
  color: var(--text-color);
  font-family: sans-serif;
}

body::before {
  content: "";
  position: absolute;
  top: 10%;
  background-image: url(../assets/images/background.png);
  opacity: 0.2;
  z-index: 0;
  width: 100%;
  height: 80vh;
}

main {
  background-color: var(--primary-color);
  border-radius: 20px;
  width: 80vw;
  height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  position: relative;
  z-index: 1;
  padding: 20px;
  overflow: hidden;
  font-family: Oswald;
  letter-spacing: 2px;
}
.header-container h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--secondary--color);
  margin-top: 5px;
}

/*  ------------------------------------------------------------ carrousel */

.carousel-container {
  width: 90%;
  height: 50vw;
  margin: 50px auto;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 20px;
}

.carousel-title {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 10px;
  position: relative;
  font-family: Bangers;
  font-size: 3rem;
  letter-spacing: 2px;
}

.carousel-title:after {
  content: "";
  display: block;
  width: 38%;
  height: 3px;
  background: #ffcc00;
  margin: 5px auto 0;
}

.carousel {
  position: relative;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 15% auto auto;
  overflow: visible;
}

.carousel-track {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.carousel-item {
  display: none;
  width: 250px;
  height: 250px;
  transition: transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease,
    box-shadow 0.5s ease, display 0.5s ease;
  transform: scale(0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  filter: blur(5px) opacity(0.5);
  z-index: -1;
  text-decoration: none;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carousel-alt {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-family: Bangers;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.carousel-item.active {
  display: block;
  transform: translate(-50%, -50%) scale(1);
  filter: blur(0);
  z-index: 2;
  align-items: center;
}

.carousel-item.left {
  display: block;
  transform: translate(-150%, -50%) scale(0.9);
  filter: blur(2px) opacity(0.5);
  z-index: 1;
}

.carousel-item.right {
  display: block;
  transform: translate(50%, -50%) scale(0.9);
  filter: blur(2px) opacity(0.5);
  z-index: 1;
}

.carousel-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 20px);
  z-index: 3;
}

.carousel-btn.prev {
  left: calc(50% - 140px);
  color: grey;
}

.carousel-btn.next {
  right: calc(50% - 140px);
  color: grey;
}

.carousel-btn.prev:active {
  animation: bounce-left 0.5s ease;
}

.carousel-btn.next:active {
  animation: bounce-right 0.5s ease;
}

.info-icon {
  font-size: 30px;
  cursor: pointer;
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
}

.popup-content {
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  color: var(--text-color);
  max-width: 80%;
  width: 40%;
  height: 50%;
  font-size: 28px;
  font-family: Oswald;
  border: solid 3px var(--secondary--color);
  margin: 0 auto;
}

.popup-content p {
  margin-top: 15%;
}

.close-button {
  position: absolute;
  right: 20px;
  font-size: 25px;
  height: 10%;
  cursor: pointer;
  color: var(--text-color);
}

.back-button {
  position: absolute;
  right: 5%;
  font-size: 30px;
  height: 10%;
  top: 10%;
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
}

@media (max-width: 600px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .carousel-container {
    height: 60%;
  }

  .carousel {
    margin-top: 20%;
  }

  .carousel-title {
    font-size: 30px;
  }
  .carousel-title:after {
    width: 87%;
  }

  header {
    grid-column: 1 / -1;
  }

  nav {
    display: none;
  }

  .carousel-alt {
    font-size: 1.5rem;
  }

  .carousel-title {
    font-size: 26px;
    top: -15%;
  }

  .back-button {
    font-size: 20px;
    top: 5%;
  }

  .popup-content {
    width: 60%;
    height: 50%;
    font-size: 20px;
  }

  .popup-content p {
    margin-top: 25%;
  }

  #popup-title {
    font-size: 26px;
  }

  .close-button {
    position: absolute;
    right: 10px;
    font-size: 18px;
    height: 10%;
  }
}
