body {
    display: grid;
    grid-template-columns: 100px auto; 
    grid-template-rows: 80px auto; 
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: var(--secondary--color);
}
body::before {
    content: "";
    position: absolute;
     top: 10%;
    background-image: url(../assets/images/background.png);
    opacity: 0.2;
    z-index: 0; 
    width: 100%;
    height: 80vh; 
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    letter-spacing: 2px;
}

.buttons {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    padding-top: 10%;
    gap: 40px;
}

.lego-button {
    border: none;
    width: 80%; /* Relatieve breedte */
    max-width: 414px; /* Maximale breedte */
    position: relative;
    height: auto;
    padding: 10px;
    background-color: var(--primary-color);
    border-top-left-radius: 10px;
    transition: transform 0.3s ease; /* Overgangseffect toegevoegd */
    font-size: clamp(1.5rem, 5vw, 3rem); /* Responsive font size */
}

.lego-button:hover {
    transform: scale(1.1); /* Schaal bij hover */
}

.lego-button span {
    color: white;
    height: 160%;
    width: 70%;
    display: inline-block;
    font-size: 3.0rem;
    text-align: center;
    position: relative;
}

.lego-button img {
    height: auto;
    width: 28%;
    position: absolute;
    left: 86%;
    top: -10%;
    transform: translateX(-50%); /* Centreren met absolute positionering */
}


.character{
    position: absolute;
    right: -25%;
    bottom: -30%;
    width: 80%;
}

.container-mini-lego{
    position: absolute;
     bottom: -5%;
     right: 45%;
     
}

.container-mini-lego img{
    height: auto;
    width: 15%;
}

