body {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 80px auto;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: var(--secondary--color);
}
* {
  outline: 1px solid red;
}

body::before {
  content: "";
  position: absolute;
  top: 10%;
  background-image: url(../assets/images/background.png);
  opacity: 0.2;
  z-index: 0;
  width: 100%;
  height: 80vh;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  letter-spacing: 2px;
  position: relative;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  width: min(100%, 500px);
  margin-left: 5%;
}

.lego-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: auto;
  background: none;
  border: none;
  transition: transform 0.3s ease;
}

.lego-button:hover {
  transform: scale(1.05);
}

#figs-dropdown,
#minigames-dropdown {
  display: none;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#figs-dropdown.show,
#minigames-dropdown.show {
  display: block;
}

.dropdown-button {
  display: block;
  background-color: #252733;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 5px 0;
  text-decoration: none;
  border-radius: 5px;
  height: 30%;
  width: 120%;
  font-size: 20px;
}

.dropdown-button:hover {
  background-color: darkgray;
}

.lego-button img {
  width: 100%;
  height: auto;
  max-height: 100%;
  z-index: 1;
}

.character {
  position: absolute;
  right: -120%;
  bottom: -10%;
  width: clamp(50%, 70vw, 120%);
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
  pointer-events: none;
  overflow: hidden;
}

.container-mini-lego {
  position: absolute;
  bottom: -2%;
  right: -10%;
  width: 90%;
  z-index: 0;
}

.container-mini-lego img {
  height: auto;
  width: 15%;
}

@media (max-width: 600px) {
  .buttons {
    margin-left: 60%;
    padding-top: 20%;
    width: 100%;
  }
  .character-container {
    height: 50vh;
  }
  .character {
    right: -100%;
    bottom: 0;
    transform: rotate(-30deg);
  }
  .dropdown-button {
    width: 90%;
    font-size: 15px;
  }
  .container-mini-lego img {
    width: 25%;
  }
}
