html {
  overflow: hidden !important;
}

body {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 80px auto;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: var(--secondary--color);
}

body::before {
  content: "";
  position: absolute;
  top: 10%;
  background-image: url(../assets/images/background.png);
  opacity: 0.2;
  z-index: 0;
  width: 100%;
  height: 80vh;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  letter-spacing: 2px;
  position: relative;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  width: min(100%, 500px);
  transform: translateX(50px);
  overflow: hidden;
  z-index: 100;
}

.lego-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: auto;
  background: none;
  border: none;
  transition: transform 0.3s ease;
}

.lego-button:hover {
  transform: scale(1.05);
}

#figs-dropdown,
#minigames-dropdown {
  display: none;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#figs-dropdown.show,
#minigames-dropdown.show {
  display: block;
}

.dropdown-button {
  display: block;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 10px;
  margin: 5px 0;
  text-decoration: none;
  border-radius: 5px;
  height: 30%;
  width: 120%;
  font-size: 20px;
}

.dropdown-button:hover {
  background-color: var(--tertiarty-color);
}

.lego-button img {
  width: 100%;
  height: auto;
  max-height: 100%;
  z-index: 1;
}

.character {
  position: absolute;
  right: -120%;
  bottom: -10%;
  width: clamp(50%, 70vw, 120%);
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
  pointer-events: none;
  overflow: hidden;
}

.container-mini-lego {
  position: absolute;
  bottom: -5%;
  right: -10%;
  width: 90%;
  z-index: 0;
}

.container-mini-lego img {
  height: auto;
  width: 15%;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70%;
  max-width: 600px;
  background: rgba(37, 39, 51, 0.97);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1000000001;
  font-family: Oswald;
  font-size: large;
  text-align: center;
  overflow-y: auto;
}

#title {
  width: 42%;
  text-align: center;
  margin: 0 auto;
}

#title::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--secondary--color);
}

.popup ul {
  list-style-type: none;
  padding: 0;
}

.popup li {
  text-align: center;
  margin: 5px 0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

#open-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: yellow;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000000000;
  display: none;
}

#overlay.active {
  display: block;
}

.popup.active {
  display: block;
}

@media (max-width: 600px) {
  .buttons {
    width: 40vh;
    
  }
  .character-container {
    height: 50vh;
  }
  .character {
    right: -100%;
    bottom: 0;
    transform: rotate(-30deg);
    height: 50%;
  }
  .dropdown-button {
    width: 90%;
    font-size: 15px;
  }
  .container-mini-lego img {
    width: 25%;
  }

  #title {
    font-size: 20px;
    width: 49%;
  }

  aside {
    display: none;
  }
  footer img {
    display: none;
  }
}

/* De gebroeders - les cousins*/
footer {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: -4%;
  left: 20%;
  z-index: 0;
}
footer img {
  height: auto;
  width: 100px;
}

/* Emmet */
aside {
  position: absolute;
  overflow: hidden;
  z-index: 1000000000;
  right: 10px;
  bottom: -100px;
}

aside img {
  height: auto;
  width: 500px;
  z-index: 1000000000;
}
