body {
    display: grid;
    grid-template-columns: 100px auto; 
    grid-template-rows: 80px auto; 
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: var(--secondary--color);
    color: white;
    
}
body::before {
    content: "";
    position: absolute;
     top: 10%;
    background-image: url(../assets/images/background.png);
    opacity: 0.2;
    z-index: 0; 
    width: 100%;
    height: 80vh; 
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    letter-spacing: 2px;
    font-family: Oswald;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 14px 16px;
    grid-template-areas:
        "titel status"
        "caroucel prestaties";
    height: 95vh;
    width: 90%;
    background-color: var(--primary-color);
    z-index: 10000;
    border-radius: 20px;
}

.name {
    grid-area: titel;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw; 
}

.status {
    grid-area: status;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--tertiarty-color);
    padding: 10px;
    border-radius: 8px;
    height: 50%;
    margin-top: 40px;
    margin-right: 20px;
}

.status-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    margin-bottom: 10px;
}
.verdient {
    color: green;
    text-shadow: 1px 1px 2px black;
}

.uitgegeven {
    color: red;
    text-shadow: 1px 1px 2px black;
}

.status-info {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.status h2 {
    font-size: 1.8vw; 
}

.status-info span {
    font-size: 2vw;

}

.status figure img {
    width: 3vw; 
    height: auto;
}

.status-divider {
    width: 3px;
    height: 8vw;
    background-color: var(--secondary--color);
    margin: 0 15px;
}

#prestatie-header {
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    padding: 10px;
    z-index: 10;
    border: solid 5px var(--tertiarty-color);
    display: flex;
    justify-content: center;
}

.titel {
    font-size: 3.5vw; 
    font-family: Bangers !important;
    text-transform: uppercase;
    border-bottom: 3px solid var(--secondary--color);
    display: inline-block;
}

.prestaties {
    grid-area: prestaties;
}

.prestaties-container {
    max-width: 450px;
    margin: auto;
    background: var(--tertiarty-color);
    padding: 15px;
    border-radius: 10px;
    height: 400px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary--color) var(--tertiarty-color);
}


.prestatie {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    padding: 12px;
    border-radius: 10px;
    margin: 12px 0;
}

figure {
    display: flex;
    align-items: center;
    margin: 0;
}

figure img {
    width: 8vw; 
    height: auto;
    margin-right: 12px;
}

.info {
    flex-grow: 1;
    text-align: left;
    font-size: 1.2vw;
}

.progress-bar {
    background: var(--tertiarty-color);
    border-radius: 5px;
    overflow: hidden;
    height: 1vw; 
    margin: 4px 0;
    width: 15vw;
    border: solid 3px #3A3C4E;
}

.progress {
    height: 100%;
    background: var(--secondary--color);
}

.reward {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    width: 70px;
    height: 70px;
    border: solid 5px var(--tertiarty-color);
    border-radius: 20px;
}

.reward p {
    margin: 0;
}

.reward img {
    margin-top: 5px;
    width: 3vw;
    height: auto;
}

.reward:hover {
    scale: 1.1;
    border-color: var(--secondary--color);
    cursor: pointer;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
}

.figure-container {
    position: relative;
    text-align: center;
}

#lego-figure {
    width: 100%;
    height: auto;
    filter: brightness(1.2) contrast(1.5);
    margin: 0;
}

.info-container {
    position: absolute;
    bottom: 60px;  
    left: 50px;       
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 5px;
}
.arrow-right{
    background-color: var(--secondary--color);
}
.arrow {
    width: 90px;  
    height: 50px;
    border: none;
    border-radius: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    background-color: lightgray !important; 
    position: relative;
    color: rgb(90, 90, 90) !important;
    font-size: 30px;
}

.rarity {
    display: inline-block;
    font-size: 12px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 15px;
    display: inline-block;
    text-transform: uppercase;
    transform: skew(-15deg); 
}

#name {
    font-family: "Bangers", sans-serif;
    font-size: 24px;
    color: white;
    margin: 0;
    text-align: left;
}

.arrow:hover {
    transform: scale(1.2);
    border: solid 2px var(--secondary--color);
}


.episch {
    background-color: rgb(77, 14, 77); 
    color: #FF00FF; 
    border: 2px solid #FF00FF;
}

.ongewoon {
    background-color: darkgreen;
    color: #00FF7F; 
    border: 2px solid #00FF7F;
}

.legendary {
    background-color: darkgoldenrod; 
    color: gold; 
    border: 2px solid gold;
}
@media (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto auto;
        gap: 10px;
        grid-template-areas:
            "titel"
            "status"
            "caroucel"
            "prestaties";
        height: 80vh; 
        width: 90%; 
        align-items: center;
        justify-content: center;
        overflow: hidden; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .status {
        grid-area: status;
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: space-around; 
        background-color: var(--tertiarty-color);
        padding: 8px; 
        border-radius: 8px;
        width: 90%; 
        margin: auto;
    }
    .status h2, .status-info span {
        font-size: 12px; 
    }

    .status-info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .status figure img {
        width: 4vw; 
        height: auto;
    }

    .status-divider {
        display: none; 
    }
    .caroucel {
        grid-area: caroucel;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        padding: 8px;
    }
    .arrow {
        width: 35px; 
        height: 35px;
        font-size: 18px;
    }

    #lego-figure {
        height: auto;
        width: 200px;

    }
    .info-container {
        position: absolute;
        bottom: 20px;
        left: 50px;
        text-align: left;
        padding: 5px;
        font-size: 2.5vw; 
        font-family: Oswald !important;
    }

    .rarity {
        font-size: 2vw;
        padding: 3px 8px;
    }

    #name {
        font-size: 3vw;
        text-align: left;
    }
    .figure-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2{
        font-size: 25PX;
        font-weight: none !important;
    }
    #rarity{
        font-size: 10px;
    }
    #name{
        font-size: 15px;

    }
    #prestaties-container {
        display: none;
    }
    .popup .prestaties-container {
        display: block;
        max-height: 300px; 
        overflow-y: auto;
        padding: 10px;
        background: var(--tertiarty-color);
        border-radius: 5px;
    }
    #prestatie-header{
        display: none;
    }
    .info h2{
        font-size: 15px;
    }
    .info p{
        font-size: 10px;
    }
    .reward{
        height:50px;
        width: 50px;
        border-radius: 10px;
    }
    .progress-bar{
        width: 100%;
    }
    .prestatie img {
        height: auto;
        width: 50px;
    }
    .reward img {
        height: auto;
        width: 20px;
    }
}
@media (min-width: 600px) { 
    .open-popup{
        display: none;
    }
    .open-popup img{
        display: none;
    }

}
.popup {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.close-popup:hover {
    color: red;
}
.open-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;

}

.popup .prestaties-container {
    font-size: 18px;
    line-height: 1.6; 
}

.popup .prestatie h2 {
    font-size: 22px; 

}

.popup .prestatie p {
    font-size: 16px; 
}

.popup .prestatie span {
    font-size: 18px; 

}

.popup .reward p {
    font-size: 18px; 
}

.open-popup>img { 
    padding: 5px;
    height: auto;
    width: 40px !important;
    margin-bottom: 5px;
    border: solid 3px var(--tertiarty-color);
    border-radius: 10px;

}

.open-popup>img:hover{
    border-color: var(--secondary--color);
    scale: 1.1;
}
.popup-title>img, .open-popup img {
    height: auto;
    width: 30px;
}

#prestatie-titel{
    display: flex;
    justify-content: center;
    align-items: center;
}
#amount-figs{
    position: absolute;
    top: 0px;
    right: 40px;
}
.not:hover{
   border-color: darkred;
}