#settings-container {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 50vh;
    height: 75vh;
    transform: translate(-50%, 0);
    z-index: 1000000001;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #252733;
    padding: 10px;
    border-radius: 54px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
    overflow: visible;
}

#settings-container::before {
    content: "";
    position: absolute;
    top: -3%;
    width: 85%;
    height: 95px;
    background-color: #edc20f;
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);
    z-index: 0;

}

#settings-container h1 {
    position: absolute;
    top: -10%;
    z-index: 2;
    color: white;
    font-size: 56pt;
    font-family: Bangers;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}


#sound-container,
#music-container,
#colormode-container,
#language-container,
#brightness-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#sound-container h2,
#music-container h2,
#colormode-container h2,
#language-container h2,
#brightness-container h2 {
    color: white;
    font-size: 32pt;
    font-family: Bangers;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.toggle-input {
    display: none;
}

.toggle-label {
    display: flex;
    align-items: center;
    background: #3A3D4B;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    position: relative;
    justify-content: center;
    cursor: pointer;
    padding: 5px 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.toggle-knob {
    width: 75px;
    height: auto;
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease, left 0.3s ease;
    user-select: none;
    pointer-events: none;
}

.toggle-text {
    color: white;
    font-size: 32px;
    font-family: Oswald;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
    pointer-events: none;
    user-select: none;
}

.toggle-text.off {
    right: 25px;
}

.toggle-text.on {
    left: 25px;
    display: none;
}

.toggle-input:checked + .toggle-label .toggle-knob {
    left: calc(100% - 70px);
}

.toggle-input:checked + .toggle-label .toggle-text.off {
    display: none;
}

.toggle-input:checked + .toggle-label .toggle-text.on {
    display: block;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.settings-select {
    background-color: #3A3D4B;
    color: white;
    font-size: 24px;
    font-family: Oswald, sans-serif;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 220px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    appearance: none;
    -webkit-appearance: none; /* Safari */
    -moz-appearance: none; /* Firefox */
    cursor: pointer;
    line-height: 30px;
}



.arrow-box {
    width: 36px;
    height: 28px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%) skewX(-15deg);
    pointer-events: none;
}

.custom-arrow {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, 0.5);
}

/* Pijl verbergen in Firefox */
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

/* Pijl verbergen in IE */
select::-ms-expand {
    display: none;
}

#brightness {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#brightness button {
    width: 32px;
    height: 58px;
    background-color: #1F222E;
    color: white;
    font-size: 40pt;
    font-family: Bangers;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#brightness-bar {
    width: 170px;
    height: 50px;
    background-color: #3A3D4B;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    gap: 5px;
}

.brightness-block {
    width: 20px;
    height: 40px;
    background-image: url('../assets/images/red_brightness_stud.png');
}

