#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000000000;
    display: none;
  }

#settings-container {
    position: absolute;
    top: 10vh;
    left: 50vw;
    width: 50vh;
    height: 75vh;
    transform: translate(-50%, 0);
    z-index: 1000000001;
    display: none;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    background-color: #252733;
    padding: 2vh;
    border-radius: 5vh;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
    overflow: visible;
}

#settings-container::before {
    content: "";
    position: absolute;
    top: -3vh;
    align-self: center;
    width: 85%;
    height: 10vh;
    background-color: #edc20f;
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);
    z-index: 0;

}

#settings-container h1 {
    position: absolute;
    top: -9vh;
    z-index: 2;
    align-self: center;
    color: white;
    font-size: 8vh;
    font-family: Bangers;
    letter-spacing: 0.2vh;
    margin-bottom: 2vh;
    text-align: center;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}


#sound-container,
#music-container,
#colormode-container,
#language-container,
#brightness-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1vh;
}

#sound-container h2,
#music-container h2,
#colormode-container h2,
#language-container h2,
#brightness-container h2 {
    color: white;
    font-size: 5vh;
    font-family: Bangers;
    letter-spacing: 0.2vh;
    margin-bottom: 2vh;
    user-select: none;
}

.toggle-input {
    display: none;
}

.toggle-label {
    display: flex;
    align-items: center;
    background: #3A3D4B;
    border-radius: 0.5vh;
    width: 12vh;
    height: 4vh;
    position: relative;
    justify-content: center;
    cursor: url('../assets/images/cursor_hand.cur'), pointer;
    padding: 0.5vh 1.5vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.toggle-knob {
    width: 7.5vh;
    height: auto;
    position: absolute;
    left: -0.5vh;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease, left 0.3s ease;
    user-select: none;
    pointer-events: none;
}

.toggle-text {
    color: white;
    font-size: 3.5vh;
    font-family: Oswald;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
    pointer-events: none;
    user-select: none;
}

.toggle-text.off {
    right: 2.5vh;
}

.toggle-text.on {
    left: 2.5vh;
    display: none;
}

.toggle-input:checked + .toggle-label .toggle-knob {
    left: calc(100% - 7vh);
}

.toggle-input:checked + .toggle-label .toggle-text.off {
    display: none;
}

.toggle-input:checked + .toggle-label .toggle-text.on {
    display: block;
}

.select-wrapper {
    position: relative;
    display: inline-block;
    cursor: url('../assets/images/cursor_hand.cur'), pointer;
}

.settings-select {
    background-color: #3A3D4B;
    color: white;
    font-size: 2.4vh;
    font-family: Oswald, sans-serif;
    border: none;
    border-radius: 0.5vh;
    padding: 1vh;
    width: 22vh;
    height: 5vh;
    box-shadow: 0px 0.4vh 0.4vh rgba(0, 0, 0, 0.4);
    appearance: none;
    -webkit-appearance: none; /* Safari */
    -moz-appearance: none; /* Firefox */
    cursor: pointer;
    line-height: 3vh;
    cursor: url('../assets/images/cursor_hand.cur'), pointer;
}

.settings-select option {
    cursor: url('../assets/images/cursor_hand.cur'), pointer;
}

.arrow-box {
    width: 3.6vh;
    height: 2.8vh;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0.8vh;
    top: 50%;
    transform: translateY(-50%) skewX(-15deg);
    pointer-events: none;
    cursor: url('../assets/images/cursor_hand.cur'), pointer;
}

.custom-arrow {
    width: 0;
    height: 0;
    border-left: 0.8vh solid transparent;
    border-right: 0.8vh solid transparent;
    border-top: 1vh solid rgba(0, 0, 0, 0.5);
    cursor: url('../assets/images/cursor_hand.cur'), pointer;
}

/* Pijl verbergen in Firefox */
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

/* Pijl verbergen in IE */
select::-ms-expand {
    display: none;
}

#brightness {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#brightness button {
    width: 3.2vh;
    height: 5.8vh;
    background-color: #1F222E;
    color: white;
    font-size: 4vh;
    font-family: Bangers;
    border: none;
    border-radius: 0.5vh;
    cursor: url('../assets/images/cursor_hand.cur'), pointer;
}

#brightness-bar {
    width: 17vh;
    height: 5vh;
    background-color: #3A3D4B;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1vh;
    gap: 0.5vh;
}

.brightness-block {
    width: 2vh;
    height: 4vh;
    background-image: url('../assets/images/yellow_brightness_stud.png');
    background-size: cover;
}

#close-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-lego-stroke {
    font-size: clamp(20px, 2vw, 30px) !important;
    padding: 10px 5vw !important;
}

.text-lego-stroke::before {
    -webkit-text-stroke: clamp(3px, 0.2vw, 3px) var(--stroke-inner-color) !important;
}


.text-lego-stroke::after {
    -webkit-text-stroke: clamp(4px, 0.7vw, 7px) var(--stroke-outer-color) !important;
}