@font-face {
    font-family: Bangers;
    src: url(../assets/fonts/Bangers-Regular.ttf);
  }

:root {
    --primary-color: #252733;
    --text-color: rgb(233, 232, 232);
    --text-hover-color: #dadada;
}

html {
    background-image: url(../assets/images/background.png);
    font-family: Bangers;
}

header nav ul {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    height: 98vh;
    width: 100px;
    justify-content: center;
    align-items: center;
}

header nav ul li img {
    width: 75px;
    height: 75px;
    background: transparent;
}

header nav ul img:first-child {
    margin-top: 10px;
}

header nav ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* TODO: fix dat het op dezelfde plek blijft wanneer je resized */
header nav ul li:nth-child(3) {
    position: relative;
    height: 100%;
    width: 60%;    
}
#user-name{
    position: absolute;
    top: -7vh;
    color: var(--text-color);
    letter-spacing: 2px;
}



header nav ul li:nth-child(4) {
    margin-top: auto;
}

header nav ul li svg {
    width: 50px;
    height: 50px;
    color: var(--text-color);
}

header nav ul li svg:last-child {
    margin-bottom: 25px;
}

header nav ul li svg:hover {
    color: var(--text-hover-color);
}

