@font-face {
  font-family: Bangers;
  src: url(../assets/fonts/Bangers-Regular.ttf);
}

:root {
  --primary-color: #252733;
  --primary-color-light: #2b2b3d;
  --secondary--color: #efc61a;
  --text-color: rgb(233, 232, 232);
  --text-hover-color: #dadada;
  --scale: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html,
body {
  box-sizing: border-box;
  overflow: auto;
}

html {
  background-image: url(../assets/images/background.png);
  font-family: Bangers;
}

header nav ul {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  height: 98vh;
  width: 100px;
  justify-content: center;
  align-items: center;
}

header nav ul li img {
  width: 75px;
  height: 75px;
  background: transparent;
}

header nav ul img:first-child {
  margin-top: 10px;
}

header nav ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header nav ul li:nth-child(3) {
  position: relative;
  height: 100%;
  width: 60%;
}

#user-name {
  position: absolute;
  top: -7vh;
  color: var(--text-color);
  letter-spacing: 2px;
}

header nav ul li:nth-child(4) {
  margin-top: auto;
}

header nav ul li svg {
  width: 50px;
  height: 50px;
  color: var(--text-color);
}

header nav ul li svg:last-child {
  margin-bottom: 25px;
}

header nav ul li svg:hover {
  color: var(--text-hover-color);
}

@media screen and (max-width: 768px) {
    header nav ul {
        height: calc(100vh - 100px);
    }
}