* text=auto
# Markeer specifieke bestanden als binaire bestanden
*.png binary
*.jpg binary
*.gif binary

# Sluit bepaalde mappen uit van taalstatistieken
vendor/** linguist-vendored
node_modules/** linguist-vendored
dist/** linguist-vendored

# Specificeer de taal voor bepaalde bestandstypen
*.ts linguist-language=TypeScript
*.js linguist-language=JavaScript
