<%- include('components/header') %>
    <%- include('components/nav') %>
    <main class="blacklist-container">
      <h1 class="title">VUILBAK <span class="info-icon">&#x24D8;</span></h1>
      <a href="/"><span class="back-button">❌</span></a>

      <section id="info-popup" class="popup">
        <article class="popup-content">
          <span class="close-button">❌</span>

          <p>
            Hier kan je zien wie je geblacklist hebt en kan je eventueel ook
            figures verwijderen van de blacklist.
          </p>
        </article>
      </section>
      <section id="reasonPopUp" style="display: none">
        <span><h2>reden aanpassen</h2></span>
        <label>
          <input type="radio" name="reason" value="unknown" />
          <p>Ken ik niet</p>
        </label>
        <label>
          <input type="radio" name="reason" value="not_like" />
          <p>Ik vind dit figuur niet leuk</p>
        </label>
        <label>
          <input type="radio" name="reason" value="other" />
          <p>Andere reden</p>
        </label>
        <span><input type="text" /></span>

        <p></p>
        <span
          ><a href="blacklist"
            ><button
              id="closePopUp"
              class="select-button text-lego-stroke"
              data-text="klaar"
            >
              klaar
            </button></a
          >
        </span>
      </section>

      <section class="blacklist">
        <article class="blacklist-item">
          <div class="figure">
            <h2>Luke</h2>
            <img src="../assets/images/artic3.png" alt="Batman" />
          </div>
          <div class="reason">
            <button id="vernietigKnop" class="reason-btn">REDEN</button>
            <select class="reason-select">
              <option value="reden1">Deze figuur wil ik niet meer zien!</option>
              <option value="reden2">Deze figuur ken ik niet.</option>
              <option value="reden3">Ik heb een hekel aan deze figuur.</option>
              <option value="reden4">Andere reden.</option>
            </select>
          </div>
          <button class="remove-btn">❌</button>
        </article>
        <article class="blacklist-item">
          <div class="figure">
            <h2>Piraat</h2>
            <img src="../assets/images/artic.png" alt="Batman" />
          </div>
          <div class="reason">
            <button class="reason-btn">REDEN</button>
            <select class="reason-select">
              <option value="reden1">Deze figuur wil ik niet meer zien!</option>
              <option value="reden2">Deze figuur ken ik niet.</option>
              <option value="reden3">Ik heb een hekel aan deze figuur.</option>
              <option value="reden4">Andere reden.</option>
            </select>
          </div>
          <button class="remove-btn">❌</button>
        </article>
        <article class="blacklist-item">
          <div class="figure">
            <h2>Skiër</h2>
            <img src="../assets/images//artic2.png" alt="Batman" />
          </div>
          <div class="reason">
            <button class="reason-btn">REDEN</button>
            <select class="reason-select">
              <option value="reden1">Deze figuur wil ik niet meer zien!</option>
              <option value="reden2">Deze figuur ken ik niet.</option>
              <option value="reden3">Ik heb een hekel aan deze figuur.</option>
              <option value="reden4">Andere reden.</option>
            </select>
          </div>
          <button class="remove-btn">❌</button>
        </article>
      </section>
    </main>
    <%- include('components/settings') %>
  </body>
</html>
