<%- include('components/header') %>
  <%- include('components/nav') %>
  <main>
    <div class="chatbot-container">
      <div class="chatbot">
        <a class="close" href="/">❌</a>
        <aside id="aside-chatbot">
          <header class="header-container" id="cahtbot-header">
            <img src="../assets/images/bot.png" alt="">
            <h1>Legolads-bot</h1>
          </header>
          <footer>
            <h4>LegoLads team 💪</h4>
            <ul id="self-portret-cont">
              <li class="portret"> <img class="self-portret" src="../assets/images/lars.png" alt=""> Lars</li>
              <li class="portret"> <img class="self-portret" src="../assets/images/abe.png" alt=""> Abe</li>
              <li class="portret"> <img class="self-portret" src="../assets/images/gentian.png" alt=""> Gentian</li>
              <li class="portret"> <img class="self-portret" src="../assets/images/enrico.png" alt=""> Enrico</li>
            </ul>
          </footer>
        </aside>
        <section id="chat" class="chat-container">
          <section class="chat-box" id="chat-box">
            <article class="message bot-message">
              <img src="../assets/images/bot.png" alt="Bot Avatar" class="avatar">
              <p class="text">
                <% if (lang === 'nl') { %>
                hallo, ik ben de LegoLads AI, waar mee kan ik je helpen?
                <% } else if (lang === 'en') { %>
                Hello, I am the LegoLads AI — how can I help you?
                <% } %>
              </p>
            </article>
          </section>
          <section class="input-container">
            <input type="text" id="user-input" placeholder="stel je vraag">

            <% if (lang === 'nl') { %>
            <button class="text-lego-stroke" data-text="verstuur" onclick="sendMessage()">verstuur</button>
                <% } else if (lang === 'en') { %>
            <button class="text-lego-stroke" data-text="Send" onclick="sendMessage()">send</button>
                <% } %>

          </section>
        </section>
      </div>
    </div>

  </main>
  <%- include('components/settings') %>
</body>

</html>