<%- include('components/header') %>
    <%- include('components/nav') %>
    <main>
        <section id="game-container">
            <!-- <img id="legofactory-bg" src="assets/images/lego-background.png" alt="Background"> -->
            <img src="/assets/images/forklift.png" alt="Forklift truck" id="forklift">
            <div id="textbubble-container">
                <img id="textbubble" src="/assets/images/textbubble.png" alt="Text bubble">
                <div id="text-content">
                    <p id="textbubble-text1"></p>
                    <p id="textbubble-text2"></p>
                </div>
                <a href="ordenen">
                    <label for="submit-button" id="submit-label">
                        <span id="submit-text">
                            <% if (lang === 'nl') { %>
                                Ga verder
                            <% } else if (lang === 'en') { %>
                                Continue
                            <% } %>
                        </span>
                    </label>
                    <input type="image" id="submit-button" src="/assets/images/submit-button.png"
                        alt="submit button" />
                </a>
            </div>
            <img id="factoryworker" src="/assets/images/factoryworker.png" alt="Character">
        </section>
    </main>

    <%- include('components/settings') %>
</body>

</html>