<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LegoLads - Memory game</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/factory.css">
    <link rel="stylesheet" href="/css/settings.css">
    <script src="/js/settings.js" defer></script>
    <script src="/js/audio.js" defer></script>
    <script src="/js/factory.js" defer></script>
</head>

<body>
  <%- include('components/nav') %>
    <main id="desktop">
          <img id="factory-machine-desktop" src="/assets/images/factory/factory-machine.png" alt="Factory Machine">
          <img id="factory-belt-desktop" src="/assets/images/factory/factory-belt.png" alt="Factory Belt">
          <section id="gears-desktop">
            <img class="factory-belt-gear-desktop" src="/assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
            <img class="factory-belt-gear-desktop" src="/assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
            <img class="factory-belt-gear-desktop" src="/assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
            <img class="factory-belt-gear-desktop" src="/assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
            <img class="factory-belt-gear-desktop" src="/assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
            <img class="factory-belt-gear-desktop" src="/assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
            <img class="factory-belt-gear-desktop" src="/assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
            <img class="factory-belt-gear-desktop" src="/assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
            <img class="factory-belt-gear-desktop" src="/assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
            <img class="factory-belt-gear-desktop" src="/assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
            <img class="factory-belt-gear-desktop" src="/assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
            <img class="factory-belt-gear-desktop" src="/assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
          </section>
          <img id="factory-machine-tube-desktop" src="/assets/images/factory/factory-machine-tube.png" alt="Factory Machine Tube">
          <section id="minifigures-desktop">
            <img src="/assets/images/chen.png" alt="Chen Minifigure">
            <img src="/assets/images/cinder.png" alt="Cinder Minifigure">
            <img src="/assets/images/artic3.png" alt="Superman Minifigure">
            <img src="/assets/images/batman.png" alt="Batman Minifigure">
          </section>
    </main>
    <main id="mobile">
      <img id="factory-machine-mobile" src="/assets/images/factory/factory-machine-mobile.png" alt="Factory Machine">
      <img id="factory-belt-mobile" src="/assets/images/factory/factory-belt.png" alt="Factory Belt">
      <section id="gears-mobile">
        <img class="factory-belt-gear-mobile" src="./assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
        <img class="factory-belt-gear-mobile" src="./assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
        <img class="factory-belt-gear-mobile" src="./assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
        <img class="factory-belt-gear-mobile" src="./assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
        <img class="factory-belt-gear-mobile" src="./assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
        <img class="factory-belt-gear-mobile" src="./assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
        <img class="factory-belt-gear-mobile" src="./assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
        <img class="factory-belt-gear-mobile" src="./assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
        <img class="factory-belt-gear-mobile" src="./assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
        <img class="factory-belt-gear-mobile" src="./assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
        <img class="factory-belt-gear-mobile" src="./assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
        <img class="factory-belt-gear-mobile" src="./assets/images/factory/factory-belt-gear.png" alt="Factory Belt Gear">
      </section>
      <img id="factory-machine-tube-mobile" src="/assets/images/factory/factory-machine-tube-mobile.png" alt="Factory Machine Tube">
      <section id="minifigures-mobile">
        <img src="/assets/images/chen.png" alt="Chen Minifigure">
        <img src="/assets/images/cinder.png" alt="Cinder Minifigure">
        <img src="/assets/images/artic3.png" alt="Superman Minifigure">
        <img src="/assets/images/batman.png" alt="Batman Minifigure">
      </section>
    </main>
    
    <%- include('components/settings') %>
</body>

</html>