<%- include('components/header') %>
    <%- include('components/nav') %>
      <main>
        <div id="overlayOrdenen"></div>
        <section id="info-popup" class="popup">
            <div class="popup-content">
                <span class="close-popup" onclick="closePopup()">❌</span>
                <p>Hier kan moet je je fig ordenen</p>
                <p>je kan overslaan dan verlies je 100 coins. Deze fig kan dan later terug komen in een andere sessie</p>
                <p>Je kan vernietigen dan verlies je ook 100 coins. Deze komt niet meer terug en word in de zwarte lijst gezet</p>
                <p>Je kan je fig ordenen door op een set te clicken waar je deze in wilt zetten. dan krijg je 100 coins er bij</p>
            </div>
          </section>
          <a  class="close" href="/">❌</a>
          <header class="header-container">
            <h1>figs ordenen
              <button class="tooltip-button" aria-label="Meer informatie" onclick="openInfoPopup()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-info-circle"
                  viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 0 0 1 2 0" />
                </svg>
              </button>
            </h1>
          </header>
          
        
          <span class="arrow" id="left">◀</span>
          <ul id="sets">
            <li><a href="resultaat"><p class="name" id="set1">DC:X7B9Q</p><img src="../assets/images/DC-Set-1.png" alt=""></a></li>
            <li><a href="resultaat"><p class="name" id="set2">DC:M3K2Z</p><img src="../assets/images/DC-Set-2.png" alt=""></a></li>
            <li><a href="resultaat"><p class="name" id="set3">DC:P8Y4T</p><img src="../assets/images/DC-Set-3.png" alt=""></a></li>
          </ul>
          <span class="arrow" id="right">▶</span>

          <ul id="keuze">
            <li> <button id="skipButton" class="select-button text-lego-stroke" data-text="overslaan">overslaan</button><p id="min">-100</p></li>
            <li><p id="pluss">+100</p><img id="figKeuze" src="../assets/images/batman.png" alt=""></li>
            <li> <button id="vernietigKnop" class="select-button text-lego-stroke" data-text="vernietig">vernietig</button><p id="plus">-100</p></li>
          </ul>


          <section id="reasonPopUp" style="display: none;">
            <span><h2>reden</h2></span>
            <label>
              <input type="radio" name="reason" value="unknown">
              <p>Ken ik niet</p>
          </label>
          <label>
              <input type="radio" name="reason" value="not_like">
              <p>Ik vind dit figuur niet leuk</p>
          </label>
          <label>
              <input type="radio" name="reason" value="other">
              <p>Andere reden</p>
          </label>
          <span><input type="text"></span>
            
            <p></p>
            <span><a href="factory"><button id="closePopUp" class="select-button text-lego-stroke" data-text="vernietig">Vernietig</button></a>
            </span>
          </section>
         
      </main>
      <%- include('components/settings') %>
    
    
</body>
</html>