<%- include('components/header') %>
    <%- include('components/nav') %>
  <main>
    <section id="info-popup" class="popup">
      <div class="popup-content">
          <span class="close-popup" onclick="closePopup()">❌</span>
          <p>kies hier het aantal figs dat je wilt ordenen 1-4</p>
      </div>
    </section>
    <a  class="close" href="../index.html">❌</a>
    <header class="header-container">
      <h1>ordenen
        <button class="tooltip-button" aria-label="Meer informatie" onclick="openInfoPopup()">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-info-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path
              d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 0 0 1 2 0" />
          </svg>
        </button>
      </h1>
    </header>
    <div id="wrapper">
      <section class="figs-lijst-container">
        <ul class="figs-container" data-count="1">
          <li><span>1</span></li>
          <li class="fig-box"><img  id="fig1" src="../assets/images/pirate.png" alt=""></li>
          <li class="fig-box"><img  class="grey"id="fig2" src="../assets/images/artic.png" alt=""></li>
          <li class="fig-box"><img class="grey" id="fig3" src="../assets/images/chen.png" alt=""></li>
          <li class="fig-box"><img class="grey" id="fig4" src="../assets/images/cinder.png" alt=""></li>
        </ul>
        <ul class="figs-container" data-count="2">
          <li><span>2</span></li>
          <li class="fig-box"><img  id="fig1" src="../assets/images/pirate.png" alt=""></li>
          <li class="fig-box"><img id="fig2" src="../assets/images/artic.png" alt=""></li>
          <li class="fig-box"><img class="grey"id="fig3" src="../assets/images/chen.png" alt=""></li>
          <li class="fig-box"><img class="grey" id="fig4" src="../assets/images/cinder.png" alt=""></li>
        </ul>
      </section>
      <section class="figs-lijst-container">
                
          <ul class="figs-container" data-count="3">
          <li><span>3</span></li>
          <li class="fig-box"><img  id="fig1" src="../assets/images/pirate.png" alt=""></li>
          <li class="fig-box"><img id="fig2" src="../assets/images/artic.png" alt=""></li>
          <li class="fig-box"><img id="fig3" src="../assets/images/chen.png" alt=""></li>
          <li class="fig-box"><img class="grey" id="fig4" src="../assets/images/cinder.png" alt=""></li>
        </ul>

        <ul class="figs-container" data-count="4">
          <li><span>4</span></li>
          <li class="fig-box"><img id="fig1" src="../assets/images/pirate.png" alt=""></li>
          <li class="fig-box"><img id="fig2" src="../assets/images/artic.png" alt=""></li>
          <li class="fig-box"><img id="fig3" src="../assets/images/chen.png" alt=""></li>
          <li class="fig-box"><img id="fig4" src="../assets/images/cinder.png" alt=""></li>
        </ul>

      </section>
    </div>
    <img id="figs" src="../assets/images/group-figs.png" alt="">
  </main>
 
  <%- include('components/settings') %>

</body>

</html>